@import url("https://fonts.googleapis.com/css2?family=Inter&family=Outfit&display=swap");
body,
html {
  min-height: 100%;
  margin: 0;
  font-family: "Outfit", sans-serif;
  overflow: hidden;
}

/*imposto lo sfondo della pagina*/
.bg-image {
  background-image: url(./assets/bg.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  width: 100%;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 5rem;
  width: 10rem;
}

div[class="elenco-risposte"] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem 2rem;
  margin-top: 16rem;
  margin-right: 15rem;
  margin-left: 15rem;
}

div[class="elenco-risposte"] .box-risposta {
  font-family: "Inter", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  width: 20rem;
  padding: 1.4rem 2.5rem;
  border-radius: 50px;
  font-size: 16px;
}

div[class="elenco-risposte"] .box-risposta:hover {
  background: rgb(210, 0, 148);
  background: linear-gradient(
    180deg,
    rgba(210, 0, 148, 1) 7%,
    rgba(144, 0, 128, 1) 80%
  );
  cursor: pointer;
}

.domanda-risposte-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p[class="domanda"] {
  margin-bottom: -15rem;
  margin-top: 9rem;
  margin-right: 5rem;
  margin-left: 5rem;
  color: white;
  padding-bottom: 3rem;
  font-size: 35px;
  text-align: center;
}

p[class="numero-domanda"] {
  color: white;
  margin-top: 5rem;
}

.purple {
  color: #900080;
  font-weight: bold;
}

.invisible {
  display: none;
}

div[class="show-result"] {
  color: white;
  font-size: 5rem;
  text-align: center;
  margin-top: 10rem;
}
.applause {
  position: relative;
  width: 100px;
  height: 110px;
  top: 1rem;
  border-radius: 12px;
}
/*timer*/
.timer {
  position: absolute;
  top: -2rem;
  right: 1rem;
}

.timer > svg {
  width: 200px;
  height: 200px;
}

.timer > svg > circle {
  fill: none;
  stroke-opacity: 0.3;
  stroke: #f700ff;
  stroke-width: 10;
  transform-origin: center center;
  transform: rotate(-90deg);
}

.timer > svg > circle + circle {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke-linecap: round;
  stroke-opacity: 1;
}

.timer.animatable > svg > circle + circle {
  transition: stroke-dashoffset 0.3s ease;
}

.timer > svg > text {
  font-size: 2rem;
  fill: white;
}

.timer > svg > text + text {
  font-size: 1rem;
  fill: white;
}

@media (min-width: 1400px) {
  div[class="elenco-risposte"] {
    margin-right: 16rem;
    margin-left: 16rem;
  }
  p[class="domanda"] {
    font-size: 35px;
    margin-top: 13rem;
  }
  div[class="elenco-risposte"] .box-risposta {
    width: 24rem;
    padding: 1.6rem 3.2rem;
    font-size: 18px;
  }
  p[class="numero-domanda"] {
    margin-top: 5rem;
    font-size: 20px;
  }
}

/*Per certe cose era meglio settare una min/max width ma adesso non ne ho vboglia*/
@media (min-width: 1700px) {
  div[class="elenco-risposte"] {
    margin-right: 16rem;
    margin-left: 16rem;
  }
  p[class="domanda"] {
    font-size: 45px;
    margin-top: 15rem;
  }
  div[class="elenco-risposte"] .box-risposta {
    width: 30rem;
    padding: 1.6rem 3.2rem;
    font-size: 22px;
  }
  p[class="numero-domanda"] {
    margin-top: 5rem;
    font-size: 24px;
  }
}

@media (min-width: 2200px) {
  div[class="elenco-risposte"] {
    margin-right: 16rem;
    margin-left: 16rem;
  }
  p[class="domanda"] {
    margin-top: 22rem;
    font-size: 60px;
    margin-bottom: -10rem;
  }
  div[class="elenco-risposte"] .box-risposta {
    width: 45rem;
    padding: 2.4rem 3.2rem;
    font-size: 34px;
  }
  p[class="numero-domanda"] {
    margin-top: 9rem;
    font-size: 36px;
  }
  .logo {
    position: absolute;
    top: 2rem;
    left: 5rem;
    width: 20rem;
  }
}
