@import url("https://fonts.googleapis.com/css2?family=Inter&family=Outfit&display=swap");
body,
html {
  min-height: 100%;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

/*imposto lo sfondo della pagina*/
.bg-image {
  background-image: url(./assets/bg.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  width: 100%;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 5rem;
  width: 10rem;
}

div[class="elenco-risposte"] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem 2rem;
  margin-top: 16rem;
  margin-right: 15rem;
  margin-left: 15rem;
  border-radius: 50px;
  overflow: hidden;
}

/* .box-risposta ::before {
  z-index: -1;
} */

div[class="elenco-risposte"] .box-risposta {
  font-family: "Inter", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  color: white !important;
  display: flex;
  align-items: center;
  //width: 50vw;
  width: 90%;
  margin: auto;
  max-width: 22em;

  position: relative;
  padding: 30% 2em;
  box-sizing: border-box;

  $border: 5px;
  color: #FFF;
  background: #000;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 1em;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to right, red, orange);
  }
}

div[class="elenco-risposte"] .box-risposta:hover {
  background: rgb(210, 0, 148);
  background: linear-gradient(
    180deg,
    rgba(210, 0, 148, 1) 7%,
    rgba(144, 0, 128, 1) 80%
  );
  cursor: pointer;
}

.domanda-risposte-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p[class="domanda"] {
  margin-bottom: -15rem;
  margin-top: 11rem;
  color: white;
  padding-bottom: 3rem;
  font-size: 40px;
}

p[class="numero-domanda"] {
  color: white;
  margin-top: 6rem;
}

.purple {
  color: #900080;
  font-weight: bold;
}

.timer {
  position: absolute;
  top: 3rem;
  right: 9rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50px;
  background-color: aqua;
}
